
  
<div class="toolbar">
  <div class="toolbarPanel"></div>
  <div class="slidecontainer">
     {{pageScaleDisplay}}<input type="range" min="0.5" max="1.5" [value]="pageScale" step="0.1" class="slider" id="myRange" (change)="updateSlider($event)">
  </div>
  <button class="btn" type="button" (click)="fitPageWidth()">Fit Page Width</button>
  <button class="btn" type="button" (click)="insertTemplate()">Insert Question</button>
  <button class="btn" type="button" (click)="insertPagebreak()">Insert Page Break</button>
  <button class="btn" type="button" (click)="doPrint()">print</button>
  <button class="btn" type="button" (click)="pageSize('a4')">A4</button>
  <button class="btn" type="button" (click)="pageSize('a5')">A5</button>
</div>
  
<ng-container  #feedbackModal></ng-container>
<div class="root">
<div class="pageroot" id="pageroot" [style.width]="sizePage.width+1 + 'cm'">

<div [id]="'page-' + i" class="page" *ngFor="let page of pages; index as i"
  [style.height]="sizePage.height + 'cm'"
  [style.width]="sizePage.width + 'cm'"
  (tap)="clickPage(i)">
  <!-- (click)="contentOnClick($event)"> -->
  <!-- <button type="button" (click)="removePage(i)">remove</button> -->
    <div class="content" 
      [id]="'content-' + i" contenteditable="true"
      [style.paddingTop]="paddingPage.top + 'cm'"
      [style.paddingRight]="paddingPage.right + 'cm'"
      [style.paddingBottom]="paddingPage.bottom + 'cm'"
      [style.paddingLeft]="paddingPage.left + 'cm'"  
      (input)="inputContent($event, $event['data'], i)"
      (keyup)="contentOnClick($event)"
      (click)="contentOnClick($event)"> 
      
        <!-- <app-qptitle></app-qptitle>    -->
      <br>
      <!-- <app-mcq [item]="question1"></app-mcq> -->
      <!-- 
          <p class='pgbreak' style="page-break-after: always;">----------page break-----------</p>  
      -->
      <br>
      
    </div>
    </div>
</div>
</div>

