body{
    overflow: hidden;
    font-family:sans-serif;
}

.root{
    overflow-y: auto;
    overflow-x: hidden;
    height: 91.2%;
    position: absolute;
    width: 99.8%;
    top: 50px;
    background: #ececec;
    left: 0;
    border: 1px dashed lightgray;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB3aWR0aD0nNicgaGVpZ2h0PSc2Jz4KICA8cmVjdCB3aWR0aD0nNicgaGVpZ2h0PSc2JyBmaWxsPScjZWVlZWVlJy8+CiAgPGcgaWQ9J2MnPgogICAgPHJlY3Qgd2lkdGg9JzMnIGhlaWdodD0nMycgZmlsbD0nI2U2ZTZlNicvPgogICAgPHJlY3QgeT0nMScgd2lkdGg9JzMnIGhlaWdodD0nMicgZmlsbD0nI2Q4ZDhkOCcvPgogIDwvZz4KICA8dXNlIHhsaW5rOmhyZWY9JyNjJyB4PSczJyB5PSczJy8+Cjwvc3ZnPg=="); background-repeat: repeat;
}
.pageroot{
    
    overflow-x: none;
    width: 22cm;
    height: auto;
    position: relative;
    background: lightblue;
    margin: 0 auto;        
    transition: all 0.2s ease;
    transform-origin: center top;
    
}
.toolbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 99%;
    height: 37px;
    padding: 6px;
    text-align: right;
    // background: #ececec;
    //box-shadow: 0 0 0.1cm rgb(0 0 0 / 50%);
}
.toolbarPanel{
    position: absolute;
    width: 99%;
    height: 37px;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
}

.btn{ 
    right: 0px;
    position: relative;
    margin: 3px;
    display: inline-block;
    height:30px;
    
}

.slidecontainer{
    position: relative;
    margin: 3px;
    display: inline-block;
}


@media print {
    body{
        font-family:sans-serif;
    }
}

    .page {
        background: white;
        display: block;
        margin: 40px auto;
        box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
        box-sizing: border-box;
        transition: all 0.2s ease;
    }
    .page .content {
        overflow: auto;
        outline: 0;
        font-family:sans-serif;
    }

    @media print{
        .noprint{
            display:none;
        }
     }

     .baby{
         position: absolute;
     }

     