/* You can add global styles to this file, and also import other style files */
.mcq-view{
    position: relative;
    margin: 0px;
    transition: all 0.5s ease;
    
    border-radius: 5px;
    // border: 1px solid lightblue;
    // padding: 5px;
}

#qtext{
    margin:5px;
}
.mcqBtn{
    user-select: none;
    cursor: pointer;
}
.cbox{
    cursor: pointer;
}
.mcq-option{
    position: relative;
    margin: 5px;
}
.mcqLayout1{
    display: inline-block;
}
.mcqLayout2{
    display: block;
}
.toggleBtn{
    position: absolute;
    right: 0;
    border: 0;
    background: orange;
}